extends ../layout

block content
  if error
    p= error

  form(method="POST", action="/#{userid}/bots/#{bot.id}")
    input(type="hidden", name="_method", value="PUT")

    fieldset.info
      legend Bot info
      label(for="name") Bot name:
      input(type="text", name="name", value=bot.name)

      label(for="name") Adapter:
      input(type="text", name="adapter", value=bot.adapter, disabled)

      label(for="name") PORT:
      input(type="text", name="config[PORT]", value=bot.config.PORT, disabled)

    case bot.adapter
      when 'slack'
        include includes/_config-slack.jade
      when 'irc'
        include includes/_config-irc.jade
      when 'hipchat'
        include includes/_config-hipchat.jade

    input(type="submit", value="save")
