extends ../layout

block content
  p Botname: #{bot.name}
  p Adapter: #{bot.adapter}
  p PORT: #{bot.config.PORT}

  a(href="/#{userid}/bots/#{bot.id}/edit") Edit info

  form(method="POST", action="/#{userid}/bots/#{bot.id}")
    input(type="hidden", name="_method", value="DELETE")
    input(type="submit", value="delete")